#main {
    width: 95vw;
    min-height: 95vh;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 2.5vh auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.layout-container{
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 2.5vh auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}