.user-card h5,
.user-card button a{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    outline: none;
    margin-top: 10px;
    font-weight: 600;
}
.user-card button{
    width: 100%;
    background-color: transparent;
    border: none;
}
.user-card button a{
    color: yellow;
}